body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding-top: 3.5rem;
  background-color: #eceeef;
}

.navbar-brand {
  font-size: 1.4rem;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
}

@media (min-width: 544px) {
  .jumbotron {
    padding: 2.5rem 2rem;
  }
}

.bg-blue {
  background-color: #5593D7;
}

h1 {
  padding-top: 6rem;
  margin-top: -6rem;
}

.text-white {
  color: white;
}

.cards {
  margin-top: 2rem;
}

.card-block > img {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
