<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The SAFE Network is a secure data storage and communication platform.">

<link rel="icon" href="{{ site.baseurl }}/images/maidsafe-logo-512.png" type="image/png">

<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} - SAFE Network
  {% endif %}
</title>

<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:description" content="The SAFE Network is a secure data storage and communication platform.">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images/wee-plane-blue.jpg">

<!-- Open Sans -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

<!-- Bootstrap core CSS + custom styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl',  'https://api.oasis.sandstorm.io']);
    _paq.push(['setSiteId', 1]);
    _paq.push(['setApiToken', '6TV7BKrPXMbC89zomqnGmGdxPkmH6OHYYxg7CPBzUSf']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://kfvv7a09eg62eubzkf1p.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
