<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="description" content="SAFE is a peer-to-peer data storage network that enables developers to build scalable apps.">
<link rel="icon" href="{{ site.baseurl }}/images/maidsafe-logo-512.png" type="image/png">

<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} - SAFE Network
  {% endif %}
</title>

<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:description" content="SAFE is a peer-to-peer data storage network that enables developers to build scalable apps.">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images/safenetwork-fb.jpg">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

<!-- Open Sans -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

<!-- Custom styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
