<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The SAFE Network is a secure data storage and communication platform created by MaidSafe.">
<meta name="keywords" content="SAFE Network, MaidSafe, privacy, security, freedom">

<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; SAFE Network
  {% endif %}
</title>

<!-- Open Sans -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

<!-- Bootstrap core CSS + custom styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

<!-- Favicon -->
<link rel="icon" href="{{ site.baseurl }}/favicon.ico">

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl',  'https://api.oasis.sandstorm.io']);
    _paq.push(['setSiteId', 1]);
    _paq.push(['setApiToken', '6TV7BKrPXMbC89zomqnGmGdxPkmH6OHYYxg7CPBzUSf']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://kfvv7a09eg62eubzkf1p.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
