<nav id="navbar" class="navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand" data-scroll href="#navbar">
    <strong>SAFE Network</strong>
  </a>
  <ul class="nav nav-pills pull-sm-right hidden-sm-down">
    <li class="nav-item">
      <a class="nav-link" data-scroll href="#learn">Learn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-scroll href="#ask-questions">Ask questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-scroll href="#stay-up-to-date">Stay up-to-date</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-scroll href="#get-involved">Get involved</a>
    </li>
  </ul>
</nav>
